<form action="/gm/info" method="post" enctype="application/x-www-form-urlencoded">
    <input type="text" name="id" value="<%= info.id %>" style="display: none;" />
    <input type="submit" value="返回">
</form>
<div style="width: fit-content;margin: auto;">
    <h4>CDN 信息：</h4>
    <form action="/cdn/save" method="post" enctype="application/x-www-form-urlencoded">
        <div
            style="display: grid;grid-template-columns: 300px 400px;grid-template-rows: repeat(6,40px); text-align: left;">
            <div>Release AccessKeyId：</div>
            <div><input type="text" name="r_accessKeyId" style="width: 400px;" value="<%= info.r_accessKeyId %>" />
            </div>
            <div>Release AccessKeySecret：</div>
            <div><input type="text" name="r_accessKeySecret" style="width: 400px;"
                    value="<%= info.r_accessKeySecret %>" /></div>
            <div>Test AccessKeyId：</div>
            <div><input type="text" name="t_accessKeyId" style="width: 400px;" value="<%= info.t_accessKeyId %>" />
            </div>
            <div>Test AccessKeySecret：</div>
            <div><input type="text" name="t_accessKeySecret" style="width: 400px;"
                    value="<%= info.t_accessKeySecret %>" /></div>

            <div>Bucket：</div>
            <div><input type="text" id="bucket" name="bucket" style="width: 400px;" value="<%= info.bucket %>" /></div>
            <div>Release Dir：</div>
            <div>
                <input type="text" id="release_dir" name="release_dir" style="width: 400px;"
                    value="<%= info.release_dir %>" />
            </div>
            <div>Test Dir：</div>
            <div>
                <input type="text" id="test_dir" name="test_dir" style="width: 400px;" value="<%= info.test_dir %>" />
            </div>
            <div></div>
            <div style="height: 100px;margin-top: 20px;">
                <input type="text" name="id" value="<%= info.id %>" style="display: none;" />
                <input type="submit" value="保存" />
            </div>
        </div>
    </form>
    <div style="background-color:antiquewhite;">
        <form action="/cdn/upload_release" method="post" enctype="multipart/form-data">
            <h4>上传到Release</h4>
            <input type="text" name="id" value="<%= info.id %>" style="display: none;" />
            上传文件所在目录：<input type="text" name="dir" value="" />
            <br/>
            缓存时长（秒）：<input type="text" name="max_age" value="" />
            <br/>
            <input type="file" name="file" />
            <br/>
            <br/>
            <input type="submit" value="上传" style="width: 100px;height: auto;" />
        </form>
    </div>
    <div style="background-color:antiquewhite;">
        <form action="/cdn/upload_test" method="post" enctype="multipart/form-data">
            <h4>上传到Test</h4>
            <input type="text" name="id" value="<%= info.id %>" style="display: none;" />
            上传文件所在目录：<input type="text" name="dir" value="" />
            <br/>
            缓存时长（秒）：<input type="text" name="max_age" value="" />
            <br/>
            <input type="file" name="file" />
            <br/>
            <br/>
            <input type="submit" value="上传" style="width: 100px;height: auto;" />
        </form>
    </div>
</div>