<!DOCTYPE html>
<html>

<head>
    <title>提示</title>

    <script>
        function onCheckAll() {
            var checked = document.getElementById('checkAll').checked;
            var all = document.getElementsByName('selectedName');
            all.forEach(a => {
                a.checked = checked;
            });
            var all = document.getElementsByName('selectedFile');
            all.forEach(a => {
                a.checked = checked;
            });
        }

        function onNameClick() {
            var all = document.getElementsByName('selectedName');
            var all1 = document.getElementsByName('selectedFile');
            var checked = true;
            all.forEach((a, i) => {
                all1[i].checked = a.checked;
                if (!a.checked) checked = false;
            });
            if (!checked) {
                document.getElementById('checkAll').checked = false;
            }
        }

        function submit0() {
            submit('0');
        }

        function submit1() {
            submit('1');
        }

        function submit(v) {
            var form = document.getElementById('submitForm');
            var type = document.getElementById('copyTo');
            type.value = v;
            form.submit();
        }
    </script>
</head>

<body>
    <div style="width: fit-content;margin: auto;text-align: center;">
        <h2>
            导出结果
        </h2>

        <form action="/gm/info" method="post" enctype="application/x-www-form-urlencoded">
            <input type="text" name="id" value="<%= id %>" style="display: none;" />
            <input type="submit" value="返回">
        </form>
        <div></div>
        <form action="/json/copy_json" id="submitForm" method="post" enctype="application/x-www-form-urlencoded">
            <div style="display: grid;grid-template-columns: repeat(3,max-content); text-align: left;">
                <div style="border: 1px solid #999;padding: 4px;">
                    <input type="checkbox" id="checkAll" onchange="onCheckAll()" />全部
                </div>
                <div style="border: 1px solid #999;padding: 4px;">
                    导出文件
                </div>
                <div style="border: 1px solid #999;padding: 4px;">
                    导出路径
                </div>

                <% for(var i=0,n=result.length; i < n; i++) { %>
                    <div style="border: 1px solid #999;padding: 4px;">
                        <input type="checkbox" name="selectedName" onclick="onNameClick()"
                            value="<%= result[i].name %>" />
                        <input type="checkbox" id="selectedFile<%= i %>" name="selectedFile"
                            value="<%= result[i].dir %>" style="display: none;" />
                    </div>
                    <div style="border: 1px solid #999;padding: 4px;">
                        <%= result[i].name %>
                    </div>
                    <div style="border: 1px solid #999;padding: 4px;">
                        <%= result[i].dir %>
                    </div>
                    <% } %>
            </div>
            <input type="text" name="id" value="<%= id %>" style="display: none;" />
            <input type="text" id="copyTo" name="copyTo" value="" style="display: none;" />
        </form>
        <div></div>
        <button onclick="submit0()">提交上线版</button>
        <button onclick="submit1()">提交开发版</button>
    </div>
</body>

</html>