<div style="width: fit-content;margin: auto;">
    <h3>项目列表</h3>
    <div style="display: grid;grid-template-columns: 100px repeat(6,auto); text-align: left;">
        <div style="border: 1px solid #999;padding: 4px;">
            <h4>项目名称</h4>
        </div>
        <div style="border: 1px solid #999;padding: 4px;">
            <h4>项目代号</h4>
        </div>
        <div style="border: 1px solid #999;padding: 4px;">
            <h4>项目根目录</h4>
        </div>
        <div style="border: 1px solid #999;padding: 4px;">
            <h4>项目excel文件存放目录</h4>
        </div>
        <div style="border: 1px solid #999;padding: 4px;">
            <h4>json文件导出配置</h4>
        </div>
        <div style="border: 1px solid #999;padding: 4px;"></div>
        <div style="border: 1px solid #999;padding: 4px;"></div>
        <% for(var i=0,n=items.length; i < n; i++){ %>
            <div style="border: 1px solid #999;padding: 4px;">
                <%= items[i].name %>
            </div>
            <div style="border: 1px solid #999;padding: 4px;">
                <%= items[i].code %>
            </div>
            <div style="border: 1px solid #999;padding: 4px;">
                <%= items[i].root %>
            </div>
            <div style="border: 1px solid #999;padding: 4px;">
                <%= items[i].excelsDir %>
            </div>
            <div style="border: 1px solid #999;padding: 4px;">
                <%= items[i].jsonOutputConfigFile %>
            </div>
            <div style="border: 1px solid #999;padding: 4px;">
                <form action="/gm/info" method="post" enctype="application/x-www-form-urlencoded">
                    <input type="text" name="id" value="<%= items[i].id %>" style="display: none;" />
                    <input type="submit" value="进入">
                </form>
            </div>
            <div style="border: 1px solid #999;padding: 4px;">
                <form action="/gm/del" method="post" enctype="application/x-www-form-urlencoded">
                    <input type="text" name="id" value="<%= items[i].id %>" style="display: none;" />
                    <input type="submit" value="删除">
                </form>
            </div>
            <% } %>
    </div>
    <a href="/gm/show_add">添加</a>
</div>